.filter-container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.filter-button {
  background-color: var(--color-background-light);
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 6px;
}

.filter-button-active {
  background-color: var(--color-green);
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 6px;
}

.filter-button-active text {
  color: var(--color-white);
  font-weight: 600;
}
