.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1.5px solid var(--color-green);
  border-radius: 8px;
  padding: 8px 0;
}

.line {
  width: 22px;
  height: 2px;
  background-color: var(--color-gray);
  transition: all 0.3s ease;
  transform-origin: center;
}

.topBar {
  transform: translateY(0) rotate(0deg);
}

.middleBar {
  opacity: 1;
}

.bottomBar {
  transform: translateY(0) rotate(0deg);
}

.topBarOpen {
  transform: translateY(6.2px) rotate(45deg);
}

.middleBarOpen {
  opacity: 0;
}

.bottomBarOpen {
  transform: translateY(-6.2px) rotate(-45deg);
}
