# OSX/macOS
.DS_Store
*.pem

# Xcode
#

# vs-code
.vscode/*

# node.js
node_modules/
*/node_modules/
*/dist/

# Environment files
.env*.local
*/**/.env

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# Other
*.log

# Expo
apps/expo-app/.expo/
apps/expo-app/dist/
apps/expo-app/web-build/
apps/expo-app/expo-env.d.ts

# lynxjs
apps/lynxjs-app/android/app/release/
apps/lynxjs-app/android/app/debug/
lynxjs/android/app/release/
lynxjs/android/app/debug/
lynxjs/android/.idea/


#react-native-app
apps/react-native-app/android/app/release/
apps/react-native-app/android/app/debug/
apps/react-native-app/.idea/