{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 180,
  "singleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "^react$",
    "^react-native$",
    "^react-native-.*$",
    "^@react-navigation.*$",
    "^@expo.*$",
    "^react-redux$",
    "<THIRD_PARTY_MODULES>",
    "^@analytics/(.*)$",
    "^@common/(.*)$",
    "^@components/(.*)$",
    "^@movies/(.*)$",
    "^@navigation/(.*)$",
    "^[@/]",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "trailingComma": "all"
}