{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 180,
  "singleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "^@lynx-js/.*$",
    "^react$",
    "^react-native$",
    "^react-native-.*$",
    "^@react-navigation.*$",
    "^@expo.*$",
    "<THIRD_PARTY_MODULES>",
    "^@movies/(.*)$",
    "^@navigation/(.*)$",
    "^@app/.*$",
    "^@/.*$",
    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "trailingComma": "all",
  "importOrderParserPlugins_DISABLED": ["typescript", "decorators-legacy"]
}