.filter-section {
  margin: 4px 0 8px;
}

.filter-options {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  &-year {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
