{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 180,
  "singleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "^react$",
    "^react-native$",
    "^react-redux$",
    "<THIRD_PARTY_MODULES>",
    "^@myatt/(.*)$",
    "^@analytics/(.*)$",
    "^@common/(.*)$",
    "^@components/(.*)$",
    "^@data/(.*)$",
    "^@features/(.*)$",
    "^@flags/(.*)$",
    "^@models/(.*)$",
    "^@state-mngt/(.*)$",
    "^@services/(.*)$",
    "^@stories/(.*)$",
    "^@tabNavScreens/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "trailingComma": "all"
}