{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 180,
  "singleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": [
    "^@lynx-js/.*$",
    "^react$",
    "^react-native$",
    "^react-native-.*$",
    "^@expo.*$",
    "^react-redux$",
    "<THIRD_PARTY_MODULES>",
    "^[@/]",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "trailingComma": "all",
  "importOrderParserPlugins_DISABLED": ["typescript", "decorators-legacy"]
}