@import url('@fennex-sand/constants/colors.css');

.main-container-layout {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 20px 12px 20px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-text);
}

.title-text {
  font-size: 1rem;
  color: var(--color-text);
}

.filter-section {
  margin: 12px 0;
}

.filter-label {
  margin: 5px 0;
}

.filter-label {
  margin-bottom: 5px;
}

.filter-options {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.filter-options-year {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.recommend-button {
  background-color: var(--color-green);
  padding: 16px 32px;
  border-radius: 12px;
  margin: 16px 0;
  align-items: center;
  justify-content: center;
}

.recommend-button-disabled {
  background-color: var(--color-background-disabled); /* Your disabled color */
}

.button-text {
  color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
}

.button-text-disabled {
  color: #ffffff9d;
}

.movie-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.list-container {
  width: 100%;
}

.movie-info {
  padding: 20px;
}

.empty-state {
  padding: 40px 20px;
  align-items: center;
}

.empty-text {
  color: var(--color-text-light);
  font-size: 16px;
  text-align: center;
}

.title-align {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  align-self: center;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.emoji-text {
  color: white;
  font-size: 16px;
}

.list-container-style {
  display: flex;
  flex: 1;
  padding-bottom: 52px;
}

.performance-button {
  background-color: var(--color-green);
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.performance-button:hover {
  background-color: var(--color-green);
  opacity: 0.8;
}

.offline-container {
  background-color: var(--color-warning-background);
  padding: 16px;
  border-radius: 8px;
  margin: 12px 0;
  text-align: center;
}

.offline-text {
  color: var(--color-warning-text);
  font-size: 16px;
  font-weight: bold;
}

.offline-container {
  background-color: var(--color-orange);
  opacity: 0.9;
  padding: 16px;
  border-radius: 8px;
  margin: 12px 0;
  text-align: center;
}

.offline-text {
  color: var(--color-text);
  font-size: 16px;
  font-weight: bold;
}

.movies-count-floating {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.movies-count-floating-android {
  top: 5px;
  right: 110px;
  width: 30px;
  height: 30px;
}

.movies-count-value {
  font-size: 14px;
  color: var(--color-white);
  font-weight: bold;
}
