.AppContainer {
  width: 100%;
  height: 100%;
}

.MainContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 24px 12px 24px;
}

.Title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text);
}

.FilterSection {
  margin-bottom: 10px;
}

.FilterLabel {
  margin: 5px 0;
}

.FilterLabel {
  margin-bottom: 5px;
}

.FilterOptions {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.FilterOptionsYear {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.RecommendButton {
  background-color: var(--color-green-dark);
  padding: 16px 32px;
  border-radius: 12px;
  margin: 16px 0;
  align-items: center;
  justify-content: center;
}

.ButtonText {
  color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
}

.MovieList {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ListContainer {
  width: 100%;
}
.PosterContainer {
  width: 100%;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.MoviePoster {
  width: 200px;
  height: 300px;
}

.MovieInfo {
  padding: 20px;
}

.EmptyState {
  padding: 40px 20px;
  align-items: center;
}

.EmptyText {
  color: var(--color-text-light);
  font-size: 16px;
  text-align: center;
}

.TitleAlign {
  font-size: 20px;
  margin-left: 10px;
  color: white;
  align-self: center;
}
