
  .emptySearchContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .emptySearchTitle {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-green);
    margin-bottom: 8px;
    text-align: center;
  }
  .emptySearchSubtitle {
    font-size: 16px;
    color: var(--color-gray-border);
    text-align: center;
    line-height: 22px;
  }
