@import url('../../common/colors.css');

.body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-movie-card-background);
  padding: 20px;
  border-top: solid 1px var(--color-light-gray);
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-text);
}

.sub-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-black);
  margin-bottom: 15px;
  &-yellow {
    color: var(--color-yellow);
  }
}

.description {
  font-size: 1.3rem;
  color: var(--color-black);
}

.picture {
  width: 250px;
  height: 350px;
  border-radius: 4px;
  border-color: var(--color-gray-border);
  align-self: center;
}

.scroll-container {
  width: calc(100% - 10px);
  height: 85vh;
}

.content-padding {
  padding: 20px;
}

.rating-container {
  margin-bottom: 15px;
}
