.page-view-container {
  flex: 1;
  width: 100%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-view-container-ios {
  padding-top: 54px;
}

.title-bar {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
